<html>

<head>
    <title>Buy a GoDaddy Domain</title>
</head>

<body>
    <script>
        window.onload = function () {
          function reqListener () {
            console.log(this.responseText);
          }


          var url = "https://www.godaddy.com/api/dpp/searchresultscart/13?applyBP=1&domain=" + "<%= domain %>" + "&domainstatus=available&displayarea=dppsr_extnd_avail&bundle=domain"
          console.log(url)
          var oReq = new XMLHttpRequest();
          oReq.addEventListener("load", reqListener);
          oReq.open("POST", url);
          oReq.send();
        }
    </script>

</div>

</body>

</html>
